@charset "UTF-8";
/* Variables */
/* Variables */
/* Fuente */
/* Variables de color de fondo */
/* Fondo Header */
/* Fondo Body */
/* Fondo Footer */
/* Fondo H1 */
/* Fondo Textos */
/* Otras variables de color */
/* Color Textos */
/* Color Bordes */
/* Mixins */
/* Mixin para estilo de listas */
/* Mixin para estilo de hover */
/* Mixin para estilo de h# */
/* Mixin para estilo de fotos */
/* Mixin para Formulario de Contacto */
/* Mixin para focus en Formulario de Contacto */
/* Reset */
/* Reseteo de padding y margin */
* {
  margin: 0;
  padding: 0;
}

/* Components */
/* Estilo de los iframes */
iframe {
  border-radius: 30px;
  width: 100%;
  outline: 3px solid darkslategray;
}

/* Ajuste de altura de Shorts a cada tamaño de pantalla */
.shorts {
  /* Los Shorts no tienen que aparecer en pantallas menores a 1200px de ancho */
}
@media (max-width: 1650px) {
  .shorts {
    height: 700px;
  }
}
@media (max-width: 1500px) {
  .shorts {
    height: 600px;
  }
}
@media (max-width: 1200px) {
  .shorts {
    display: none;
  }
}

/* Layouts */
/* Body */
body {
  background-color: #28282B;
  font-family: "Open Sans", "Segoe UI", sans-serif;
}

/* Header */
header {
  border-bottom: 1px solid white;
  text-align: center;
  padding: 1rem 2rem;
  z-index: 10;
  background-image: url("../img/fondo.webp");
}
header div nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 0rem;
}
header div nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  padding: 0.5rem 0.5rem;
  transition: all 1s;
  /* Se achica el tamaño de la fuente del navbar por debajo de los 1000px */
  /* Se achica el tamaño de la fuente del navbar por debajo de los 800px */
}
header div nav ul li a:hover {
  background-color: hsla(195, 83%, 58%, 0.2);
  border-radius: 5rem;
}
@media (max-width: 1000px) {
  header div nav ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  header div nav ul li a {
    font-size: 0.9rem;
  }
}

/* Estilo logo navbar */
.logo {
  width: 10rem;
  background-color: #fff5ee;
  margin: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  /* Animación Logo */
  /* Keyframe para la animación */
  /* Nombre del keyframe */
  animation-name: opacityLogo;
  /* Cantidad de repeticiones */
  animation-iteration-count: 1;
  /* Duración de la animación */
  animation-duration: 3s;
}
@keyframes opacityLogo {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Configuración para la página activa */
[aria-current=page] {
  background-color: darkslategray;
  border-radius: 5rem;
}

/* Hover de la página activa */
[aria-current=page]:hover {
  background-color: rgb(31, 51, 51);
}

/* Main */
main {
  margin-bottom: 3rem;
}

h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  /* Fondo especial para títulos */
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 1rem 1rem;
  /* Se ajusta el tamaño de la fuente para pantallas menores a 440px */
}
@media (max-width: 440px) {
  h1 {
    font-size: 1.3rem;
  }
}

h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  background-image: radial-gradient(ellipse 40% 50%, black, #28282B);
  /* Se ajusta el tamaño de la fuente para pantallas menores a 440px */
}
@media (max-width: 440px) {
  h2 {
    font-size: 1.15rem;
  }
}

p {
  color: white;
  margin-top: 1rem;
}

/* Configuración de los títulos h3 de las cards */
.titulo {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: darkslategray;
  border-radius: 30px;
  padding: 0.5rem;
  /* Se ajusta el tamaño de la fuente para pantallas menores a 440px */
}
@media (max-width: 440px) {
  .titulo {
    font-size: 1.15rem;
  }
}

/* Para que los títulos de la Discografía y los Videos sean responsive */
.tituloResponsive {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clase para las imágenes dentro del aside */
.fotoSola {
  width: 100%;
  margin: 5px;
  border-radius: 300px;
  filter: drop-shadow(0 0 1rem darkslategray);
  /* Hover para las imágenes del aside */
}
.fotoSola:hover {
  opacity: 90%;
}

/* Formato para todos los párrafos */
.parrafo {
  background-color: #3B3C36;
  border-radius: 30px;
  padding: 1rem;
}

/* Formato específico para la descripción */
.descripcion {
  flex-grow: 1;
  text-align: center;
}

/* Footer */
footer {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid white;
  position: sticky;
  bottom: 0;
  background-color: #050301;
  /* Que el footer deje de ser sticky para que no se junten los íconos */
}
footer ul {
  margin-bottom: 0rem;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0.5rem 0.5rem;
}
footer ul li a img {
  height: 1.5rem;
}
@media (max-width: 640px) {
  footer {
    position: static;
  }
}
footer p {
  margin: 0.5rem 0;
}

/* Logo Scandal Footer */
.logoWeb {
  background-color: #fff5ee;
  border-radius: 1rem;
}

/* Pages */
/* Index */
/* Clase para las fotos del Index */
.fotoVivo {
  width: 30%;
  margin: 5px;
  border-radius: 100px;
  filter: drop-shadow(0 0 1rem darkslategray);
  /* Efecto para las fotos */
}
.fotoVivo:hover {
  opacity: 90%;
}

/* Clase para el contenedor de las fotos */
.cajaFotos {
  text-align: center;
}

/* Clase para subtítulo h3 */
.subtitulo {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  background-image: radial-gradient(ellipse 40% 50%, black, #28282B);
  /* Se ajusta el tamaño de la fuente para pantallas menores a 440px */
}
@media (max-width: 440px) {
  .subtitulo {
    font-size: 1.15rem;
  }
}

/* Sobre Scandal */
/* Clase para las fotos de las integrantes */
.fotoIntegrantes {
  width: 100%;
  margin: 0px;
  border-radius: 300px;
  filter: drop-shadow(2px 2px 0.1rem rgb(49, 0, 10));
  /* Las fotos no tienen que estar cuando aparecen los Shorts */
  /* Efecto para las fotos de las integrantes */
}
@media (min-width: 1201px) {
  .fotoIntegrantes {
    display: none;
  }
}
.fotoIntegrantes:hover {
  opacity: 90%;
}

/* Tamaño íconos de redes sociales dentro de la card de cada integrante */
section div div a img {
  height: 1.5rem;
}

/* Formulario */
form {
  margin: 10px;
}
form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}
form input[type=text],
form select {
  display: block;
  width: 300px;
  padding: 10px;
  border: 3px solid darkslategray;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: all 1s;
  /* Contorno y relleno del formulario cuando se lo selecciona */
  /* Responsive para pantallas menores a 396px */
}
form input[type=text]:focus,
form select:focus {
  outline: 2px solid hsla(195, 83%, 58%, 0.2);
  background-color: rgb(40, 60, 70);
  color: white;
}
@media (max-width: 396px) {
  form input[type=text],
  form select {
    width: 100%;
  }
}
form textarea {
  display: block;
  width: 660px;
  padding: 10px;
  border: 3px solid darkslategray;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: all 1s;
  /* Contorno y relleno del formulario cuando se lo selecciona */
  /* El cuadro de mensaje deja de tener tamaño fijo para convivir con el mapa */
}
form textarea:focus {
  outline: 2px solid hsla(195, 83%, 58%, 0.2);
  background-color: rgb(40, 60, 70);
  color: white;
}
@media (max-width: 1440px) {
  form textarea {
    width: 100%;
  }
}
form input[type=submit],
form input[type=reset] {
  background-color: #333;
  color: white;
  border: 3px solid #28282B;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 3px;
  transition: all 1s;
  /* Borde y relleno de los botones cuando se los selecciona */
}
form input[type=submit]:active,
form input[type=reset]:active {
  background-color: #222;
  border: 3px solid darkslategray;
}

/*# sourceMappingURL=style.css.map */
