/* Formulario */

form {
    margin: 10px;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: $color-textos;
    }

    input[type=text],
    select {
        @include estiloFormulario(300px);

        /* Contorno y relleno del formulario cuando se lo selecciona */
        &:focus { 
            @include estiloFocusFormulario;
        }

        /* Responsive para pantallas menores a 396px */
        @media (max-width: 396px) {
            width: 100%;
        }

    }

    textarea {
        @include estiloFormulario(660px);

        /* Contorno y relleno del formulario cuando se lo selecciona */
        &:focus { 
            @include estiloFocusFormulario;
        }

        /* El cuadro de mensaje deja de tener tamaño fijo para convivir con el mapa */
        @media (max-width: 1440px) {
                width: 100%;
            }
        
    }

    input[type=submit],
    input[type=reset] {
        background-color: #333;
        color: $color-textos;
        border: 3px solid #28282B;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 1.25rem;
        cursor: pointer;
        margin: 3px;
        transition: all 1s;

        /* Borde y relleno de los botones cuando se los selecciona */
        &:active {
            background-color: #222;
            border: 3px solid $color-bordes;
        }

    }

}