/* Index */

/* Clase para las fotos del Index */
.fotoVivo {
    @include estiloFotos(30%, 5px, 100px);
    filter: drop-shadow(0 0 1rem darkslategray);
    
    /* Efecto para las fotos */
    &:hover {
        opacity: 90%;
    }

}

/* Clase para el contenedor de las fotos */
.cajaFotos {
    text-align: center;
}

/* Clase para subtítulo h3 */
.subtitulo {
    @include estiloH(2rem);
    padding: 1rem;
    margin-top: 2rem;
    background-image: radial-gradient(ellipse 40% 50%, black, $fondo-body);
    
    /* Se ajusta el tamaño de la fuente para pantallas menores a 440px */
    @media(max-width:440px) {
        font-size: 1.15rem;
    }

}