/* Index */

.fotoVivo {
    width: 30%;
    margin: 5px;
    border-radius: 100px;
    filter: drop-shadow(0 0 1rem darkslategray);
}

.fotoSola {
    width: 100%;
    margin: 5px;
    border-radius: 300px;
    filter: drop-shadow(0 0 1rem darkslategray);
}

.cajaFotos {
    text-align: center;
}

article {
    background-color: #2d2e29;
    border-radius: 30px;
    padding: 1rem;
    border: darkslategray 3px solid;
}

article p {
    background-color: #3B3C36;
    border-radius: 30px;
    padding: 1rem;
}