/* Index */

.fotoVivo {
    @include estiloFotos(30%, 5px, 100px);
    filter: drop-shadow(0 0 1rem darkslategray);
    
    &:hover {
        opacity: 90%;
    }

}

.cajaFotos {
    text-align: center;
}