/* Integrantes */

.fotoIntegrantes {
    border-radius: 300px;
    width: 100%;
    filter: drop-shadow(2px 2px 0.1rem rgb(49, 0, 10));
}

.descripcion {
    background-color: $fondo-parrafo;
    border-radius: 30px;
    padding: 1rem;
}