/* Estilo de los iframes */

iframe {
    border-radius: 30px;
    width: 100%;
    outline: 3px solid $color-bordes;
}

/* Ajuste de altura de Shorts a cada tamaño de pantalla */
.shorts {
    
    @media (max-width: 1650px) {
        height: 700px;
    }

    @media (max-width: 1500px) {
        height: 600px;
    }

    /* Los Shorts no tienen que aparecer en pantallas menores a 1200px de ancho */
    @media (max-width: 1200px) {
            display: none;
    }

}

