/* Estilo de los iframes */

iframe {
    border-radius: 30px;
    width: 100%;
    outline: 3px solid $color-bordes;
}

/* Ajuste de altura de Shorts a cada tamaño de pantalla */

@media (max-width: 1650px) {
    .shorts {
        height: 700px;
    }
}

@media (max-width: 1500px) {
    .shorts {
        height: 600px;
    }
}

/* Los Shorts no tienen que aparecer en pantallas menores a 1200px de ancho */

@media (max-width: 1200px) {
    .shorts {
        display: none;
    }
}