/* Footer */

footer {
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid $bordes-layout;
    position: sticky;
    bottom: 0;
    background-color: $fondo-footer;

    ul {
        margin-bottom: 0rem;

        li {
            list-style: none;
            display: inline-block;
            margin: 0.5rem 0.5rem;

            a {
                img {
                    height: 1.5rem;   
                }
    
            }

        }

    }

    /* Que el footer deje de ser sticky para que no se junten los íconos */
    @media (max-width: 640px) {
            position: static;
    }

    p {
        margin: 0.5rem 0;
    }

}

/* Logo Scandal Footer */
.logoWeb {
    background-color: #fff5ee;  
    border-radius: 1rem; 
}