/* Header */

header {
    border-bottom: 1px solid $bordes-layout;
    text-align: center;
    padding: 1rem 2rem;
    z-index: 10;
    background-image: $fondo-header;

    div {
        nav {
            ul {
                li {
                    @include paraLista(0.5rem, 0rem);

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1.25rem;
                        color: $color-textos;
                        padding: 0.5rem 0.5rem;
                        transition: all 1s;

                        &:hover {
                            @include listaHover($fondo-hover);
                        }

                        /* Se achica el tamaño de la fuente del navbar por debajo de los 1000px */
                        @media (max-width: 1000px) {
                            font-size: 1rem;
                        }

                        /* Se achica el tamaño de la fuente del navbar por debajo de los 800px */
                        @media (max-width: 800px) {
                            font-size: 0.9rem;
                        }

                    }

                }

            }

        }

    }

}

/* Estilo logo navbar */
.logo {
    width: 10rem;
    background-color: #fff5ee;
    margin: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;

    /* Animación Logo */

    @keyframes opacityLogo {
        from {
            opacity: 0.1;
        }
    
        to {
            opacity: 1;
        }
    
    }
    
    /* Nombre del keyframe */
    animation-name: opacityLogo;

    /* Cantidad de repeticiones */
    animation-iteration-count: 1;

    /* Duración de la animación */
    animation-duration: 3s;

}

/* Configuración para la página activa */
[aria-current="page"] {
    @include listaHover($fondo-textos);
}

/* Hover de la página activa */
[aria-current="page"]:hover {
    background-color: $fondo-hover-activo;
}