/* Header */

header {
    border-bottom: 1px solid $bordes-layout;
    text-align: center;
    padding: 1rem 2rem;
    z-index: 10;
    background-image: $fondo-header;

    div {
        nav {
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0.5rem 0rem;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: $color-textos;
                        padding: 0.5rem 0.5rem;

                        &:hover {
                            background-color: $fondo-hover;
                            border-radius: 5rem;
                        }

                    }

                }

            }

        }

    }

}

/* Estilo logo navbar */
.logo {
    width: 10rem;
    background-color: #fff5ee;
    margin: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}

/* Configuración para la página activa */
[aria-current="page"] {
    background-color: $fondo-textos;
    border-radius: 5rem;
}

/* Hover de la página activa */
[aria-current="page"]:hover {
    background-color: $fondo-hover-activo;
}