/* Main */

main {
    margin-bottom: 3rem;
}

h1 {
    text-align: center;

    /* Fondo especial para títulos */
    background: $fondo-h1-gradiente;
    background-color: $fondo-h1-liso;
    background-size: 20px 20px;

    color: $color-textos;
    margin-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    text-align: center;
    color: $color-textos;
    font-size: 30px;
    text-decoration: underline;
}

p {
    color: $color-textos;
    margin-top: 1rem;
}

section {
    text-align: center;
}

.titulo {
    color: $color-textos;
    margin-top: 1rem;
    background-color: $fondo-textos;
    border-radius: 30px;
    font-size: 30px;
    padding: 5px;
}

/* Para que los títulos de la Discografía y los Videos sean responsive */

.tituloResponsive {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clase para las imágenes dentro del aside */

.fotoSola {
    width: 100%;
    margin: 5px;
    border-radius: 300px;
    filter: drop-shadow(0 0 1rem darkslategray);
}