/* Main */

main {
    margin-bottom: 3rem;
}

h1 {
    text-align: center;

    /* Fondo especial para títulos */
    background: $fondo-h1-gradiente;
    background-color: $fondo-h1-liso;
    background-size: 20px 20px;

    color: $color-textos;
    margin-bottom: 30px;
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    text-align: center;
    color: $color-textos;
    margin: 20px 0;
    font-size: 30px;
    text-decoration: underline;
}

p {
    color: $color-textos;
    margin-top: 1rem;
}

section {
    text-align: center;
}

.titulo {
    background-color: $fondo-textos;
    border-radius: 30px;
    font-size: 30px;
    padding: 5px;
}